@model Product
@{
    ViewData["Title"] = $"{Model.Name}";
}

<link rel="stylesheet" href="~/css/main.css" />

<div class="maindiv">
   <img class="rasm" src="@Model.Image">
   <div class="kik">
       <h2 class="ism">@Model.Name</h2>
       <h3 class="narx">Цена: @Model.Price Сум</h3>
       <h2 class="opisanie">Характеристики</h2>
       <div class="xarak">
            @foreach (var item in ViewBag.List)
            {
                <p>@item.Property.Value ----- @item.Value</p>
            }
       </div>
   </div>
</div>
<h1 class="nameopis">Описание товара</h1>
<h3 class="lopisanie">@Model.LongDesc</h3>

<form class="dkorzina" asp-controller="Basket" asp-action="AddProduct" asp-route-id="@Model.Id" method="post">
    <button class="btn btn-primary">Добавить в корзину</button>
</form>